<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.futurestud.tutorials.glide"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- example -->
        <meta-data
            android:name="io.futurestud.tutorials.glide.glidemodule.SimpleGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="io.futurestud.tutorials.glide.glidemodule.CustomImageSizeGlideModule"
            android:value="GlideModule" />

        <!-- for images behind an unsafe https url -->
        <!--
        <meta-data
            android:name="io.futurestud.tutorials.glide.glidemodule.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />
        -->

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleSimpleLoading"
            android:label="Simple Loading"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleListViewAdapter"
            android:label="ListView Example"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleGridViewAdapter"
            android:label="GridView Example"/>

        <activity
            android:name=".ui.activities.UsageExamplePlaceholders"
            android:label="Placeholders"/>

        <activity
            android:name=".ui.activities.UsageExampleErrorLogging"
            android:label="Erorr Logging"/>

        <activity
            android:name=".ui.activities.UsageExampleCustomImageSize"
            android:label="Custom Image Sizes"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleImageResizing"
            android:label="Image Manipulation"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleCacheBasics"
            android:label="Cache Basics"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleAdvancedAdapter"
            android:label="Advanced ListView"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleThumbnails"
            android:label="Thumbnails"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleRequestPriority"
            android:label="Request Priority"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleTargetsAndRemoteViews"
            android:label="Rotation and Transformation"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleGifAndVideos"
            android:label="Gif and Local Videos"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleTransformations"
            android:label="Transformations"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleAnimate"
            android:label="Animations"/>

        <activity
            android:name="io.futurestud.tutorials.glide.ui.activities.UsageExampleDownload"
            android:label="Download"/>

        <activity
            android:name=".ui.activities.UsageExampleGlideModuleUnsafeOkHttp"
            android:label="Picasso.Builder Basics"/>

        <receiver android:name=".ui.FSAppWidgetProvider">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget"/>
        </receiver>

        <receiver
            android:name=".ui.FSAppWidgetIntentReceiver"
            android:label="widgetBroadcastReceiver">
            <intent-filter>
                <action android:name="pl.looksok.intent.action.CHANGE_PICTURE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget"/>
        </receiver>

    </application>

</manifest>
